<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466885129285-vc5at4bu9isdc4389l6mmjt7uq2llde0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466885129285-vc5at4bu9isdc4389l6mmjt7uq2llde0</string>
	<key>API_KEY</key>
	<string>AIzaSyD_5WVSwXn22VjVy9XXmMYQLDkKchNP81s</string>
	<key>GCM_SENDER_ID</key>
	<string>466885129285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.valeroivan.FirabaseConfi</string>
	<key>PROJECT_ID</key>
	<string>fir-confi-3d029</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-confi-3d029.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466885129285:ios:2103afa2f11e914fa25f2c</string>
</dict>
</plist>